@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
.shows__page {
  padding: 35px 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pagination li {
  color: #3c948b;
}

.pagination a {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.pagination .paginationDisabled {
  opacity: 0.9;
  color: #3c948b7d;
}

.pagination .paginationDisabled:hover a {
  cursor: default;
}

.showcard {
  padding: 10px 0;
  height: 100%;
  font-size: 14px;
}

.showcard__container {
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}

.showcard__container .showcard__image {
  border-radius: 5px;
  width: 100%;
}

.showcard__placeholder {
  height: 100%;
  background-color: #3c948b;
  width: 100%;
}

.cardflip .showcard__container {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.showcard__front {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.showcard__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3f3f3f;
  color: #3c948b;
  border-radius: 5px;
  font-size: 12px;
}

.showcard__back__link {
  position: absolute;
  bottom: 10%;
  left: 0;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: #3c948b;
}

.showcard__back__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcard__back__name {
  text-align: center;
  padding: 5px 0;
}

.showcard__back__language {
  text-align: center;
  padding: 5px 0;
}

.showcard__back__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10%;
}

.showcard__back__icons svg {
  font-size: 30px;
}

.showcard__back__icons .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c948b;
  margin: 0 5px;
}

.showcard__back__icons .favorites {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}

.showcard__back__icons .favorites .hiddenHeart {
  visibility: hidden;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.showcard__back__icons .favorites .emptyHeart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.showcard__back__icons .favorites .pulsingHeart {
  -webkit-animation: pulse ease-in-out 0.2s;
          animation: pulse ease-in-out 0.2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.showcard__back__icons .favorites svg {
  fill: #3c948b;
}

nav {
  background-color: #3f3f3f;
  color: white;
}

.top__nav {
  padding: 20px 0;
}

.nav__form {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.nav__form__input {
  display: inline;
  width: 75%;
  height: 36px;
  border-radius: 36px 0 0 36px;
  border: none;
  padding-left: 20px;
}

.nav__form__input:focus {
  outline: none;
}

.nav__form__button {
  border-radius: 0 30px 30px 0;
  width: 25%;
  height: 36px;
  border: none;
  background-color: #3c948b;
  color: white;
  cursor: pointer;
}

.site__nav {
  background-color: #3c948b;
  padding: 10px 0;
}

.site__nav__link {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.site__nav__link__heart {
  color: red;
}

.site__nav__link:hover {
  background-color: #3f3f3f;
  opacity: 0.95;
}

.site__nav__link.active {
  background-color: #3f3f3f;
}

.sideBar__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sideBar__form__group {
  padding-bottom: 10px;
}

.sideBar__form__group label {
  font-size: 14px;
  font-weight: 300;
  display: block;
  padding-bottom: 10px;
}

.sideBar__form__group select {
  border: 0;
  height: 30px;
  background: whitesmoke;
  width: 100%;
  border-radius: 5px;
}

.sideBar__form__submit {
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
  background-color: #3c948b;
  color: white;
  cursor: pointer;
}

.sideBar__form__submit:hover {
  opacity: 0.9;
}

.homePage {
  padding: 35px 0;
}

.homePage h3 {
  padding: 10px 0;
}

.homePage__link__button {
  text-decoration: none;
  color: white;
  background-color: #3c948b;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: block;
  width: 90px;
}

.schedule__list {
  margin: 50px 0;
  list-style-type: none;
}

.schedule__list h3 {
  padding: 10px;
  background-color: #3f3f3f;
  color: white;
}

.schedule__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
}

.schedule__list__item__left {
  width: 20%;
}

.schedule__list__item__left .time {
  font-weight: 300;
}

.schedule__list__item__right {
  margin-left: 30px;
  width: 80%;
}

.schedule__list__item__right .showName {
  font-weight: 300;
}

.schedule__list__item:nth-child(odd) {
  background-color: #f1f1f1;
}

.schedule__list__item:nth-child(even) {
  background-color: #e9e9e9;
}

.singleShow {
  width: 100%;
}

.singleShow__nav {
  background-color: transparent;
  padding: 35px 0;
}

.singleShow__nav__link {
  text-decoration: none;
  padding: 10px;
  color: #9f9aa4;
}

.singleShow__nav__link:hover {
  background-color: #3c948b;
  color: white;
}

.singleShow__nav__link.active {
  background-color: #3f3f3f;
  color: white;
}

.singleShow__nav__link.active:hover {
  background-color: #3c948b;
}

.singleShow__img__container {
  height: 100%;
}

.singleShow__cover {
  width: 100%;
}

.singleShow__genre {
  background-color: #3c948b;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 12px;
}

.singleShow h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  padding: 20px 0;
}

.singleShow__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px !important;
}

.singleShow__info__summary {
  margin-top: 30px;
  text-align: justify;
}

.singleShow__info__card {
  width: 100%;
  margin: 15px 0;
}

.singleShow__info__card p {
  font-weight: 700;
}

.singleShow__info__card p span {
  font-weight: 300;
}

.seasons h3 {
  color: #3c948b;
  font-weight: 600;
}

.seasons__table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  background-color: whitesmoke;
}

.seasons__table td {
  padding: 5px;
}

.seasons__table tr:nth-child(even) {
  background-color: whitesmoke;
}

.seasons__table tr:nth-child(odd) {
  background-color: #9f9aa4;
  color: whitesmoke;
}

.seasons__table tr:hover {
  opacity: 0.9;
}

.seasons__header {
  text-align: center;
  color: white;
}

.seasons__header th {
  background-color: #3c948b;
  padding: 10px 5px;
}

.seasons__header :first-child {
  width: 10%;
}

.cast__row {
  padding: 10px 0;
}

.cast__img {
  width: 100%;
}

.cast__placeHolder {
  min-height: 158px;
  background-color: #9f9aa4;
}

.cast__name, .cast__character {
  color: #3f3f3f;
  font-weight: 600;
}

.cast__as {
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e0cba8;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=main.css.map */