.homePage {
	padding: 35px 0;

	h3 {
		padding: 10px 0;
	}

	&__link__button {
		text-decoration: none;
		color: white;
		background-color: $darkGreen;
		padding: 10px;
		border: none;
		border-radius: 5px;
		display: block;
		width: 90px;
	}
}
