.shows__page {
	padding: 35px 0;
}

.pagination {
	display: flex;
	width: 80%;
	list-style-type: none;
	justify-content: space-evenly;

	li {
		color: $darkGreen;
	}

	a {
		display: block;
		padding: 10px;
		cursor: pointer;
	}

	.paginationDisabled {
		opacity: 0.9;
		color: #3c948b7d;

		&:hover {
			a {
				cursor: default;
			}
		}
	}
}
