//  Colors

$lightGreen:rgb(227, 252, 239);
$lightRed:rgb(255, 235, 230);
$backGround: #85877c;
$navGreen: #3c948b;
$lightGrey: #e0d8de;
$mediumGrey: #9f9aa4;
$darkGreen: #3c948b;
$lightBlack: #3f3f3f;
$wheat: #e0cba8;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
$myFont: "Lato", sans-serif;
