@import "./variables";
@import "./showspage";
@import "./showcard";
@import "./nav";
@import "./sideBar";
@import "./homepage";
@import "./singleShow";
@import './favorites';
@import './loader';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	
}

html,.App,#root {
	height: 100vh;
	width: 100%;
}

body {
	background-color: $wheat;
	font-family: $myFont;
}

.toast__succes {
	background-color:$lightGreen ;
}

.toast__error {
	background-color: $lightRed;
}
